button{
    margin: 1rem;
}
.loadingEach{
    text-align: left;
    flex-direction:column ;
    gap: 4rem;
    color: grey;
    display: flex;
    font-size: 30px;
   margin-top: 10rem;
justify-content: center;
    
}
.mainrepo{
    width: 100%;
    max-width: 70vw;
   margin-left: 3rem;
   margin-bottom: 4rem;
   margin-top: 3rem;
}
.single{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.smaller{
    font-size: 11px !important;
}
.single div{
    font-size: 25px;
    color: blue;
    font-weight: bold;
}
.singlerepo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid lightgrey 1px;
    padding: 1rem;
    margin-bottom: .5rem;
    height: 150px;
    padding-bottom: 1rem;
    text-decoration: none;
    width: 100%;
}
@media only screen and (max-width: 900px) and (min-width: 701px) {
    .mainrepo{
        width: 70%;
     
       margin-left: 3rem;
       margin-bottom: 4rem;
       margin-top: 3rem;
    }
    .singlerepo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid lightgrey 1px;
        padding: 1rem;
        margin-bottom: .5rem;
        height: 100px;
        padding-bottom: 1rem;
        text-decoration: none;
        width: 100%;
    }
    .single div{
        font-size: 20px;
        color: blue;
        font-weight: bold;
    }
}
@media only screen and (max-width: 500px){
    .mainrepo{
  
        width: 400px;
       margin-left: 3rem;
       margin-bottom: 4rem;
       margin-top: 3rem;
    }
    .singlerepo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid lightgrey 1px;
        padding: .5rem;
        margin-bottom: .5rem;
        height: 40px;
        text-decoration: none;
        
    }
    .single div{
        font-size: 16px;
        color: blue;
        font-weight: bold;
    }
    button{
  
        margin-top: .4rem;
        font-size: 10px;
      
    
    }
    .smaller{
        font-size: 8px !important;
        color: black;

    }
    
}